@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

$bg: #fff;
$text: #353433;
$light-green: #e0e5ad;
$green: #dbe19e;
$dark-green: #c6cd87;
$green-border: #8c9440;
$green-shadow: #e9eccc;

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: $bg;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    font-weight: 600;
    color: $text;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: $light-green;
    border: 2px solid $green-border;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $dark-green;
      border-radius: inherit;
      box-shadow: 0 0 0 2px $green-border, 0 0.625em 0 0 $green-shadow;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
      background: $green;
      transform: translate(0, 0.25em);
      &::before {
        box-shadow: 0 0 0 2px $green-border, 0 0.5em 0 0 $green-shadow;
        transform: translate3d(0, 0.5em, -1em);
      }
    }
    &:active {
      background: $green;
      transform: translate(0em, 0.75em);
      &::before {
        box-shadow: 0 0 0 2px $green-border, 0 0 $green-shadow;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
}

